<po-page-default
  p-title="Verifique curiosidades de uma torcida num país específico">   
    <div class="po-row">
      <po-input
        name="filter"
        class="po-md-3"
        p-placeholder="Pesquisar nome do time ou país"
        (p-blur)="getFilterList($event)"
        (p-change-model)="getFilterList($event)"
        [p-disabled]="!hasSelectedFilterType"
        p-icon="po-icon po-icon-search">
      </po-input>
      <po-radio-group
          class="po-md-2"
          name="filterOption"
          p-required
          [p-options]="filterOption"
          (p-change)="changeOptionFilter($event)">
      </po-radio-group>
    </div>
    <po-container>
      <po-table
        [p-columns]="columnsList"
        [p-items]="itemsList">
        <ng-template p-table-row-template let-rowItem let-i="rowIndex">
          <po-widget>
              <div class="po-row">
                <img [src]="rowItem.image" height="200" width="400">
                <po-info
                  class="po-md-6"
                  p-label="História"
                  p-orientation="horizontal"
                  [p-value]="rowItem.description">
                </po-info>
              </div>
          </po-widget>
        </ng-template>
      </po-table>
    </po-container>    
</po-page-default>